# Reto Ejercicio

In [13]:
import pandas as pd
import numpy as np
import math
import random

Una empresa desea elaborar un plan de repartición entre sus diversos clientes. La empresa desea reducir el número de unidades de transporte a utilizar y el tiempo de recorrido. Cada unidad de transporte tiene una capacidad de 8 m^3.  El número de productos que compra un cliente esta dado por una distribución de poisson con λ=2.  La empresa solo ofrece 5 productos a la venta cuyo volumen se muestra en la siguiente tabla.

In [11]:
#Datos iniciales

l = 2
cap_camion = 8 #Capacidad de 8 m^3 del camion
productos = pd.DataFrame({"Producto": ["P1","P2","P3","P4","P5"] ,"Volumen (m^3)" :[1,0.8,1.2,1.5,0.6]})
venta_dia = pd.DataFrame({"Producto": ["P1","P2","P3","P4","P5"] ,"Venta promedio/dia" :[119,140,155,158,176]}) #Venta promedio al dia

In [8]:
productos

  Producto  Volumen (m^3)
0       P1            1.0
1       P2            0.8
2       P3            1.2
3       P4            1.5
4       P5            0.6

Por políticas de la empresa solo se puede vender a lo más tres productos a cada cliente. En un estudio realizado se encuentra que la venta promedio de cada uno de los productos en un día son los siguientes:

In [12]:
venta_dia

  Producto  Venta promedio/dia
0       P1                 119
1       P2                 140
2       P3                 155
3       P4                 158
4       P5                 176

### Primera parte

Simule la venta de la empresa para un día en base a los datos anteriores, para ello considere solo 10 
clientes.  Para ello

*	Determine el número de productos que comprara cada cliente. (Distribución de Poisson)

In [55]:
prob = pd.DataFrame({"X": [0,1,2,3]})

# Set the "X" column as the index
prob.set_index("X", inplace=True)

# Reset the index to default integer index and remove the "X" column from the index
prob.reset_index(drop=True, inplace=True)

prob["p(x)"] = [ ((l ** x) *  math.exp(-l)) / math.factorial(x) for x in range(0,4)] 
prob["p(x)"] = prob["p(x)"] / prob["p(x)"].sum()  #normalizamos al dividir entre la suma total de todas las probabilidades

#Probabilidad acumulada
acumul = []
for i in range(0,prob.shape[0]):
    value = prob.loc[0:i, "p(x)"].sum() 
    acumul.append(value)

prob["p(x) acumulada"] = acumul 

#Limite inferior y superior

prob["Lim inferior"] =  [prob["p(x) acumulada"][i] - prob["p(x)"][i]  for i in range(prob.shape[0])]
prob["Lim superior"] =  [prob["p(x) acumulada"][i]  for i in range(prob.shape[0])]

In [69]:
pedidos = pd.DataFrame({
    "Cliente": [i for i in range(10)]

})

# Set the "X" column as the index
pedidos.set_index("Cliente", inplace=True)

# Reset the index to default integer index and remove the "X" column from the index
pedidos.reset_index(drop=True, inplace=True)

#Numero de pedidos que pedira cada cliente en base a las probabilidades
num_pedidos = []
num_aleatorio = []
for i in range(pedidos.shape[0]):
    p = random.uniform(0,1)
    num_aleatorio.append(p)
    for j in range(prob.shape[0]):
        if (prob["Lim inferior"][j] <= p and p < prob["Lim superior"][j]):
            num_pedidos.append(j) #Numero de pedidos
        else:
            continue

pedidos["Aleatorio"] = num_aleatorio
pedidos["Numero de pedidos"] = num_pedidos

* Determine los productos a comprar (Probabilidad relativa)

In [87]:
venta_dia["Prob Relativa"] = [venta_dia["Venta promedio/dia"][x] / venta_dia["Venta promedio/dia"].sum() for x in range(venta_dia.shape[0])]

#Probabilidad acumulada
acumul = []
for i in range(0,venta_dia.shape[0]):
    value = venta_dia.loc[0:i, "Prob Relativa"].sum() 
    acumul.append(value)

venta_dia["Prob acumulada"] = acumul 

#Limite inferior y superior

venta_dia["Lim inferior"] =  [venta_dia["Prob acumulada"][i] - venta_dia["Prob Relativa"][i]  for i in range(venta_dia.shape[0])]
venta_dia["Lim superior"] =  [venta_dia["Prob acumulada"][i]  for i in range(venta_dia.shape[0])]

In [88]:
venta_dia

,Producto,Venta promedio/dia,Prob Relativa,Prob acumulada,Lim inferior,Lim superior
0,P1,119,0.159091,0.159091,0.000000,0.159091
1,P2,140,0.187166,0.346257,0.159091,0.346257
2,P3,155,0.207219,0.553476,0.346257,0.553476
3,P4,158,0.211230,0.764706,0.553476,0.764706
4,P5,176,0.235294,1.000000,0.764706,1.000000

In [82]:

#Productos a comprar del cliente

pedidos["P1"] = np.zeros((pedidos.shape[0],1)) #inicializamos con una lista de ceros
pedidos["P2"] = np.zeros((pedidos.shape[0],1))
pedidos["P3"] = np.zeros((pedidos.shape[0],1))
pedidos["P4"] = np.zeros((pedidos.shape[0],1))
pedidos["P5"] = np.zeros((pedidos.shape[0],1))

for i in range(pedidos.shape[0]):
    num_pedidos = pedidos["Numero de pedidos"][i] #Numero de pedidos que cliente "x" hizo
    probs = []
    for j in range(num_pedidos):
        p = random.uniform(0,1)
        probs.append(p)
    
    for prob in probs:
        if (probs <= prob and prob < probs):
            num_pedidos.append(j) #Numero de pedidos
        else:
            continue

In [83]:
pedidos

   Aleatorio  Numero de pedidos   P1   P2   P3   P4   P5
0   0.251067                  1  0.0  0.0  0.0  0.0  0.0
1   0.296894                  1  0.0  0.0  0.0  0.0  0.0
2   0.664432                  2  0.0  0.0  0.0  0.0  0.0
3   0.146392                  0  0.0  0.0  0.0  0.0  0.0
4   0.730290                  2  0.0  0.0  0.0  0.0  0.0
5   0.418266                  1  0.0  0.0  0.0  0.0  0.0
6   0.663884                  2  0.0  0.0  0.0  0.0  0.0
7   0.981001                  3  0.0  0.0  0.0  0.0  0.0
8   0.144671                  0  0.0  0.0  0.0  0.0  0.0
9   0.020144                  0  0.0  0.0  0.0  0.0  0.0